.heading
  {
    font-size: 18px;
    width: 100%;
    margin: 0px;
    box-shadow:5px 5px 5px grey;
  }
  .heading_div
  {
    float: none;
    background: white ; 
    padding: 10px;
    border-radius: 18px; 
    color: black;
    box-shadow:5px 5px 5px grey;
  }
  .heading_div2
  {
    font-size: 15px ;
  }
  .result_para_tag_1
  {
    
    box-shadow:5px 5px 5px grey;
    font-size: 20px;
    margin-left: 5  px;
  }

  .result_para_tag_2
  {
    box-shadow:5px 5px 5px grey;
    font-size: 20px;
    margin-left: 20px;
  }

  .copy_right_footer {
    position: fixed;
    color: white;
    bottom: 0;
    width: 100%;
    line-height: 3;
    background-color: grey;
    text-align: center;
  }

  canvas 
  {
    border: 5px solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px grey;
    margin-top: 110px;
  }
 